<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdonisJS - A fully featured web framework for Node.js</title>
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>
    @vite(['resources/js/app.js'])
  </head>
  <body>

    <div class="max-w-3xl mx-auto mt-6">
      @include('partials/nav')

      <h1> {{movie.title}} </h1>
      
      @if(movie.abstract) 
         <div class="my-8 bg-slate-100 rounded-xl p-8">
      {{{ movie.abstract }}}
      </div>
      @else
        No abstract      
      @endif
     
      
    </div>
  </body>
</html>
