<nav class="flex justify-between items-center">
    <div>
        <a href="{{ route('login') }}">Log In</a>
        <a href="{{ route('login.token') }}">Token</a>
        <a href="{{ route('auth.register.show') }}">Register</a>       
    </div>

</nav>